{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LMS{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block extra_css %}
    {% endblock extra_css %}
</head>
<body>

    <header>
        <nav>
            <ul>
                <li><a href="{% url 'pages:home' %}">Home</a></li>
                <li><a href="{% url 'pages:about_our_company' %}">About</a></li>
                <li><a href="{% url 'pages:contact_info' %}">Contact</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}
    {% endblock content %}

    {% block extra_content %}
    {% endblock extra_content %}

    {% block footer %}
    <footer>Copyright Django June 2025 Cohort SQI</footer>
    {% endblock footer %}
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>