{% extends "partials/base.html" %}
{% load static %}

{% block title %}
All Authors
{% endblock title %}

{% block content %}
<h2>List of Authors</h2>


<div class="author-list">
    <h2>List of Authors</h2>
    <div class="authors">
    {% for author in authors %}
    <div>
        <div class="author"><a href="{% url 'authors:author_detail' author.pk %}">{{ author }}</a></div>
        <h4>Birth Date: {{ author.birth_date }}</h4>
        {% if author.image %}
        <img src="{{ author.image.url }}" alt="{{ author }}'s Image">
        {% else %}
        <p>No image for {{ author }}</p>
        {% endif %}
    </div>

    {% endfor %}
        
    </div>
</div>

{% endblock content %}


{% block extra_content %}
<p>Hello</p>
{% endblock extra_content %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/authors.css' %}">
{% endblock extra_css %}